1) Be able to show all classrooms that are open
2) Be able to show all classrooms of a specific building
3) Be able to show all classrooms at a specific time
4) Show availabilities for a specific classroom


1) button for each building
    - if button is pushed, show all open rooms in order of longest available
2) show all classes that are available at when given a time
3) show when classroom is available given classroom
