thead input {
    width: 100%;
  }
  
  thead {
    background-color: #e3e9ee;
  
    /* background-color: #e3e9ee;   */
    color: #048DC8;
  }
  
  td {
    color: #1E8FC6;
  }
  
  .dataTables_length {
    background: #048DC8;
    color: rgba(255, 255, 255, 0.85);
  }
  
  #example_filter {
    background: #048DC8;
    color: rgba(255, 255, 255, 0.85);
  }
  
  .dataTables_filter,
  .dataTables_info {
    display: none;
  }
  